# 語言
language: node_js
# 穩定更新版
node_js:
- lts/*
# 跑測試(只測master)
branches:
  only:
  - master
# 定義 build 的過程會產生某些檔案是可以在下一次 build 利用
cache:
  directories:
  - node_modules

# 寄信位置
notifications:
  email:
    recipients:
      - god75615@gmail.com
    on_success: always
    on_failure: always

# 安裝依賴
install:
- npm install

# 運行腳本
script:
- npm test
- npm run build

# 待補
deploy:
  provider: pages
  skip_cleanup: true
  github-token: $GITHUB_MOVIE_PROJECT
  on:
    branch: master