# 語言
language: node_js

# 穩定更新版
node_js:
- lts/*

# 跑CI的branch(只跑master)
branches:
  only:
  - master

# 定義 build 的過程會產生某些檔案是可以在下一次 build 利用
cache:
  directories:
  - node_modules

# 寄信位置
notifications:
  email:
    recipients:
      - god75615@gmail.com
    on_success: always
    on_failure: always

# 安裝依賴(node_modules)
install:
- npm install

# 運行腳本
script:
- npm run build-storybook

# 部署位置設定
deploy:
  provider: pages
  skip_cleanup: true
  local-dir: storybook-static
  github-token: $GITHUB_SELF_COMPONENTS
  on:
    branch: master

# 與slack串
notifications:
  slack: akayhuselfslack:ZfFYzGzSyL9P5Y8R9vrUHxCz
  template:
    - Deploy %{result} of %{repository}@%{branch} by %{author}
    - Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) in %{duration}
    - 'Commit message : %{commit_message}'